<!-- MODAL SEARCH -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title truncate" id="myModalLabel"></h4>
        <div id="result-filter-list" class="text-muted small">Filter: <span id="result-filter" class="result-tag badge"></span><span id="result-size" class="pull-right"></span></div>
      </div>
      <div class="modal-body">

        <!-- MAIN RESULT DIV -->
        <div id="result-div">
        </div>
        <!-- MAIN RESULT DIV -->

      </div>
      <div class="modal-footer">
        <span class="text-muted small">Could not find what you were looking for?
        Try a <a id="google-link" target="=_blank">Google Search</a></span>
      </div>
    </div>
  </div>
</div>
<!-- MODAL SEARCH -->
