
// @import "_yeti.scss";
@import "_main-variables.scss";
@import "bootstrap/_variables.scss";
// @import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);

article#api-content {
  font-size: $font-size-small;
  color: $gray-light;
  span {
    line-height:18px;
  }

  img {
    opacity: 30%;
  }

  h1.heading, h4.subHeading {
    font-size: $font-size-h4;
    margin-bottom: 16px;
    padding-top: 16px;
    font-weight: 400;
    color: $gray-light
  }

  p {
    font-size: $font-size-small;
  }

  /* Header Toggles */
  table#bottomTable {
      margin-bottom: 10px;
      a {
          padding: 4px 10px 4px 10px;
          margin: 0;
          font-weight: 300;
          }
      a:hover {
          text-decoration: underline;
          }

      a:not(:last-child){
          border-right: 1px solid #eee;
          }
      a:first-child{
          border-left: 0;
          padding-left: 0;
          }
      }
  div.summary {
    margin-bottom: 10px;
  }

  span.parameter {
    color:#f74200;  /*Orange*/
    font-weight: normal;
    font-style: italic;
  }

  div#seeAlsoSection {
    margin-bottom: 20px;
    .seeAlsoStyle
    {
      line-height: 20px;
    }
  }

  // Sample Code
  div.highlight-title {
    margin-top: 20px;
    line-height:20px;
    padding-bottom:5px;
    font-weight: bold;
  }

  table {
    // Clear Border First
    border-style: hidden;
    width: 100%;

    th, td{
        padding: 5px;
        line-height:20px;
        border-bottom:1px solid #eee !important;
        }
    tr.selected-enumeration > td {
      background-color: #21a3a3 !important; /*brand-primari*/
      color: #fff;
      }
    }


  div.code table {
    width: 100%;
    margin-bottom: 12px;
    th, td {
      border-style: hidden;
    }
  }



  // Pre Formatted Box
  div.code pre {
      border:1px #dadada solid;
      background-color: #fafbfb!important;
      padding:12px;
  }

  div.code pre code {
        font-family: 'Roboto Mono','Consolas','monospace' !important;
        font-size: $font-size-small;
        color:#222 !important;

        a{ font-weight: 600;}
        a:hover{ font-weight: bold;}


        span.identifier  {
          color: #e8008a; /* Pink */
          font-weight: 600;
        }

        span.keyword, span.highlight-keyword {
          font-weight: 400;
          color:#4987b3; /* Blue */
        }

        span.highlight-number{
          color:#009966 /* Green */;
        }

        span.parameter {
          font-style: italic;
          font-weight: normal;
        }

        span.highlight-literal{
            font-style: italic;
            color: #bb7200;
        }

        span.highlight-comment{
            font-style: italic;
            color:#878383;
        }
      }


  div.saveHistory > p, {
    display: none;
  }

  span.highlight-copycode {
    float: right;
    opacity: .75;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &:focus{
      outline: 0px solid transparent;
    }
  }

}


article#api-news {
  p, li{
    font-size: $font-size-small;
    padding-left: 20px;
  }
  li {
    padding-left: 0;
  }
  ul {
    list-style-type: square;
  }

  h1:first-child, hr {
    display: none;
  }
  h1, h2, h3, h4, h5, h6{
    margin-top: 30px;
    color: $gray-light;
  }
  h1 {
    margin-top: 30px;
  }
  h2 {
    font-size: font-size-h3;
    margin-top: 30px;
    font-weight: 400;
    color: $gray;
    padding-top: 15px;
    border-top: 1px solid #ddd;
  }
  h3 {
    font-weight: 600;
    font-size: $font-size-h4
  }

 nav#toc {
   cursor: pointer;
   .h1,.h2,.h3,.h4,.h5,.h6 {
     font-size: 12px;
     margin: 0;
     line-height: 16px;
   }
   .h1 { margin-left: 0;
         font-weight: 600;
         margin-bottom: 12px;
         margin-top: 12px;
       }
   .h2 { margin-left: 1em;
         font-weight: 400;
         margin-top: 8px;
       }
   .h3 { margin-left: 2em }
   .h4 { margin-left: 3em }
 }
}
