/*@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);*/

#mainSection td{
    border-bottom:0px !important;
    border-bottom:1px solid #eee !important;
}

#mainSection, #header, .subHeading{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color:#666 !important;
}

#mainSection .summary{
    /*margin-top:12px;*/
    margin-bottom:12px;
}

#mainSection span{
    line-height:18px;
}

#mainSection .heading {
    font-weight:100;
    color:#999;
}
#mainSection .heading img{
    display:none;
}

#gradientTable{
    display:none;
}

div.code pre {
font-family: 'Roboto Mono','Consolas','monospace' !important;
border:1px #dadada solid;
background-color: #fafbfb!important;
/*background-color: #fafaff!important;*/
padding:12px;
}

.highlight-title{
    border-bottom:0px !important;
}

#mainSection td {
background-color:#fff !important;
}

#mainSection th {
color:#666 !important;
background-color:#fff !important;
}


#mainSection span .identifier  {
    font-weight:normal;
    color:#f74200;
    /*color:#e74c3c; red-orange*/
}

#mainSection span .keyword, .highlight-keyword {
    font-weight: 400;
    color:#9178b9 !important;
    /*color:#008cba; blue */
}

.highlight-number{
    color:#4b1fcc !important;
    /*color:#18bc9c !important;*/
    }

pre a{
  font-weight: bold;
  /*text-decoration: underline;;*/
    }

.code pre{
    color:#222 !important;
}

.highlight-literal{
    font-style: italic;
    color: #bb7200 !important;
}

.highlight-comment{
    font-style: italic;
    /*font-weight: bold;*/
    color:#838785 !important;
}

.footerLine {
    display:none;
}

#mainSection th{
    line-height:20px;
    border-bottom:1px solid #eee !important;
    padding-bottom:5px;
}

#mainSection td{
    border-bottom:1px solid #eee !important;
    padding-bottom:5px !important;
    padding-top:5px !important;
}

#mainSection img{
    opacity:0.75;
}

div#header{
    /*margin-top:-20px;*/
    margin-top: 0px;
}

div#mainBody{
    margin-top: 12px;
}

div#header p{
    font-size: 10px !important;
}
div#header a{
    font-size: 10px !important;
}


/*FIX INVALID*/
body #mainBody, body #mainBody a, body #mainBody p, body #mainBody span {
    font-size: 12px !important;
}

#runningHeaderText{
    display:none !important;
}

#remarksSection {
/*font-size: 12px !important;*/
/*ENLARGE THIS: http://www.revitapidocs.com/2016/c53f2132-bc08-1650-b1c6-bc7b66ff7a5d.htm*/
}

#nsrTitle, .feedbackhead {
    display: none;
    /*color: #0ff;*/
    /*background-color: #ff0;*/
}
h1.heading  {
    display: none;
    /*color: #0ff;*/
    /*background-color: #ff0;*/
}
