/*@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300);*/

#mainSection td{
    border-bottom:0px !important;
    border-bottom:1px solid #eee !important;
}

#mainSection, #header, .subHeading{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color:#666 !important;
}

#mainSection .summary{
    /*margin-top:12px;*/
    margin-bottom:12px;
}

#mainSection span{
    line-height:18px;
}

#mainSection .heading {
    font-weight:100;
    color:#999;
}
#mainSection .heading img{
    display:none;
}

#gradientTable{
    display:none;
}

div.code pre {
font-family: 'Roboto Mono','Consolas','monospace' !important;
border:1px #dadada solid;
background-color: #fafbfb!important;
/*background-color: #fafaff!important;*/
padding:12px;
}

/*COPY CODE ICON*/
span.highlight-copycode{
  display:none;
}

.highlight-title{
    border-bottom:0px !important;
}

#mainSection td {
background-color:#fff !important;
}

#mainSection th {
color:#666 !important;
background-color:#fff !important;
}


#mainSection span .identifier  {
  color: #e8008a; /* Pink */
  /*color:#f74200;  /*Orange*/
  font-weight: 600;
  /*color:#e74c3c; red-orange*/
}

#mainSection span .keyword, .highlight-keyword {
    font-weight: 400;
    color:#6327da !important;
    /*color:#008cba; blue */
}

.highlight-number{
    color:#009966 !important;
    /*color:#372f7e !important;*/
    /*color:#18bc9c !important;*/
    }

span.parameter {
  font-style: italic !important;
  font-weight: normal !important;
  color:#f74200;  /*Orange*/
  /*color: #e8008a; /* Pink */*/
}

pre a{
  font-weight: 600;
  text-decoration: none;
  }
pre a:hover{
  font-weight: bold;
  text-decoration: underline;
  }

.code pre{
    color:#222 !important;
}

pre {
  margin-bottom: 12px;  /*Bottom of Code Block*/
  /*box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.075);*/
  /*-moz-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.075);*/
  /*-webkit-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.075);*/
  /*-o-box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.075);*/
}

h1.heading  {
    /*display: none;*/
}
div#syntaxCodeBlocks th  {
    padding-top: 12px;
}
h4.subHeading {
  margin-top: 16px;
}


.highlight-literal{
    font-style: italic;
    color: #bb7200 !important;
}

.highlight-comment{
    font-style: italic;
    /*font-weight: bold;*/
    color:#838785 !important;
}

.footerLine {
    display:none;
}

#mainSection th{
    line-height:20px;
    border-bottom:1px solid #eee !important;
    padding-bottom:5px;
}

#mainSection td{
    border-bottom:1px solid #eee !important;
    padding-bottom:5px !important;
    padding-top:5px !important;
}

#mainSection img{
    opacity:0.75;
}

div#header{
    /*margin-top:-20px;*/
    margin-top: 0px;
}

div#mainBody{
    margin-top: 11px;
}

/*Header Toggles */
div#header p, div#header a{
    font-size: 12px !important;
}

#bottomTable {
  margin-top: 0px;
  margin-bottom: 20px;
}

/*Header Toggles */
table#bottomTable a {
  text-decoration: none;
  font-size: 10px;
  padding: 4px 10px 4px 10px;
  margin: 0;
  font-weight: 300;
}
table#bottomTable a:hover {
  text-decoration: underline;
}

table#bottomTable a:not(:last-child){
  border-right: 1px solid #eee;
}
table#bottomTable a:first-child{
  border-left: 0;
  padding-left: 0;
}



/*FIX INVALID*/
body #mainBody, body #mainBody a, body #mainBody p, body #mainBody span {
    font-size: 12px !important;
}

#runningHeaderText{
    display:none !important;
}

#remarksSection {
/*font-size: 12px !important;*/
/*ENLARGE THIS: http://www.revitapidocs.com/2016/c53f2132-bc08-1650-b1c6-bc7b66ff7a5d.htm*/
}

#nsrTitle, .feedbackhead {
    display: none;
    /*color: #0ff;*/
    /*background-color: #ff0;*/
}
