{% extends "_base.html" %}

<!-- Rendered tempaltes must include header() macro#} -->

{% block header %}
<!-- HEADER CONTENTS FROM API.HTML -->
<title>{{ entry.title | default('Revit API Docs') }}</title>
<!-- HEADER CONTENTS FROM API.HTML -->
{% endblock %}

{% block content %}
<!-- START  API HTML -->

    {% include 'components/__modalsearch.html' %}

    <!-- START SIDEBAR -->
    <nav id="sidebar" class="col-sm-12 col-md-5 col-lg-4">

        <!-- SIDEBAR SEARCH -->
        <div id="sidebar-search">
          <form>
            <div class="form-group">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="search-box" placeholder="Search Term" autocomplete="off">
                <span class="input-group-btn">
                  <button class="btn btn-primary" id="btn-search" type="submit" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </form>
        </div>
        <!-- SIDEBAR SEARCH -->

        <!-- START BOOTSTRAP TREEVIEW -->
        <span id="menu-loading" class="small text-muted">
            <img src="{{ url_for('static', filename="img/loader.gif") }}">
            &nbsp;Loading</span>
        <div id="treeview">
        </div>
        <!-- END BOOTSTRAP TREEVIEW -->

    </nav>
    <!-- END SIDEBAR -->

    <!-- START MAIN -->
    <div class="col-sm-12 col-md-6 col-lg-8" id="content-with-sidebar">

        <header class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb">
                    &nbsp;
                </ul>
            </div>
        </header>


        <h4 id="api-title" class="truncate"> {{ entry.title if entry else 'Documentation' }} </h4>
        <hr/>

        <!-- START MAIN CONTENT -->
        {% include '%s' % content_path %}
        <!-- END MAIN CONTENT -->

        <!-- ////////////////////////////// -->
            <!-- API ADSENSE -->
            {# {% include 'components/__adsense.html' %}  #}
            <!-- END ADSENSE -->
        <!-- ////////////////////////////// -->


        <!-- START DISQUS -->
        {% if active_href %}
            {# {% include 'components/__disqus.html' with context %} #}
        {% endif %}
        <!-- END DISQUS -->
    </div>
    <!-- END MAIN -->

<!-- END API HTML -->
{% endblock %}

{% block script %}
<!-- START API SCRIPT  -->

<script>

// GLOBALS
var activeYearPattern = new RegExp('(?:/)([0-9\.]{4,6})(?:/)')
var activeYear = window.location.pathname.match(activeYearPattern)[1]
console.log('activeYear: ' + activeYear)

var activeHrefPattern = new RegExp('(?:/[0-9\.]{4,6}/)([A-Za-z0-9\-]*.htm)')
var activeHref = window.location.pathname.match(activeHrefPattern)
activeHref = (activeHref) ? activeHref[1] : null

console.log('activeHref: ' + activeHref)

var is_mobile = ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
console.log('is_mobile: ' + is_mobile)

var is_small_screen = ($(window).width() < 768);
console.log('is_small_screen: ' + is_small_screen)

{% include 'components/__api-treeview.js' %}

{% raw %}
var breadcrumb = '<li><a href="{{entry.member_of_href}}">{{ entry.member_of }}</a></li>' +
                 '<span class="pull-right">' +
                 '{{ actual_year }} | <a href="https://github.com/gtalarico/revitapidocs/edit/master/app/templates/{{content_path}}">Edit</a>' +
                 '</span>'
{% endraw %}

//
$(document).ready(function() {

    templateData = { entry: {{entry|tojson|safe }},
                     actual_year : "{{actual_year|default('0')}}",
                     content_path: "{{content_path|safe}}"
                    }

    loadContent(templateData)

});

</script>


{% endblock %}
