<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- CHILD HEADER -->
        <!-- ADDED HEDE SO CSS FROM CHM CONTENT IS OVERRIDEN -->
        {% block header %}
        <title>{{ entry.title | default('Revit API Docs') }}</title>
        {% endblock %}
        <!-- CHILD HEADER -->

        {% if schema %}
        <!-- CUSTOM SCHEME META TAGS LOADED -->
        <meta name="title" content="{{entry.title}}">
        <meta name="description" content="{{entry.description}}">
        <!-- CUSTOM SCHEME META TAGS -->
        {% else %}
        <!-- DEFAULT SCHEME META TAGS -->
        <meta name="description" content="Online Documentation for Autodesk's Revit API: 2015, 2016, 2017">
        <!-- DEFAULT SCHEME META TAGS -->
        {% endif %}

        <meta name="google-site-verification" content="Dn1KWTK6Dm3XMYL1XHu2FUNgz4YH8bUA0YGoFkoWpi0" />

        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#28282a">
        <meta name="theme-color" content="#28282a">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
        <meta name="ROBOTS" content="INDEX, FOLLOW">
        <link rel="shorcut icon" href="{{ url_for('static', filename="img/favicon.png") }}">
        <link rel="shorcut icon" type="image/x-icon" href="{{ url_for('static', filename="img/favicon.ico") }}">
        <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename="img/icon-144.png") }}">
        <link rel="icon" sizes="128x128" href="{{ url_for('static', filename="img/icon-128.png") }}">
        <link rel="icon" sizes="192x192" href="{{ url_for('static', filename="img/icon-192.png") }}">

        <!-- START CSS WEBASSETS -->
        {% assets "css_assets" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700|Roboto+Mono:300">
        <!-- END CSS WEBASSETS -->

        <!-- ADSENSE VERIFICATION -->
        {#
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-2370986191740757",
              enable_page_level_ads: true
            });
        </script>
        #}
        <!-- ADSENSE VERIFICATION -->

    </head>

    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            <!-- BASE: NAV MENU -->
            {% include "components/__nav.html" ignore missing with context %}
            <!-- BASE: NAV MENU -->

            <!-- BASE: MAIN CONTENT -->
            <div id="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <!-- BASE: MAIN CONTENT -->


            <footer class="center-block">
                <p>
                Online Documentation for the Revit API
                <span class="spaced">|</span>
                <a href="http://gtalarico.com">Gui Talarico</a>
                <span class="hidden-xs">
                    <span class="spaced">|</span>
                    Powered By <a href="http://pythong.org">Python</a> + <a href="http://flask.pocoo.org/">Flask</a>
                    <span class="spaced">|</span>
                    Theme by <a href="https://bootswatch.com/">Bootswatch</a>
                </span>
                </p>
            </footer>

        <!-- BASE: MESSAGES -->

        {% include 'components/__messages.html' %}
        <!-- BASE: MESSAGES -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- START JS WEBASSETS -->
        {% assets "js_assets" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <!-- END JS WEBASSETS -->

        {# Google Analytics Script #}
        {% include 'components/__analytics.html' %}
        <!-- BASE: START CHILD SCRIPT BLOCK -->

        {% block script %}
            {# End of page script for child template: ie: menu script requiest context #}
        {% endblock %}
        <!-- BASE: END CHILD SCRIPT BLOCK -->


        <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
        <!-- START SCHEMA -->
        {% include 'components/__schema.html' with context%}
        <!-- END SCHEMA -->

    </body>
</html>
