{% extends "base.html" %}

{% block header %}
<title>Revit API Docs</title>
{% endblock %}

{% block content %}
<div id="content-full-width">

  <div class="row">
  </br>
  <div class="col-xs-11 col-sm-7 col-md-6 col-lg-5 col-centered">

    <div id="direct-search">
        <img class="center-block" id="index-logo" alt="Revit API Docs Logo" height="70px" src="{{ url_for('static', filename="img/logos/logo-title.svg") }}"/>
        <form>
          <div class="form-group">
            <label class="control-label text-danger">&nbsp;</label>
            <div class="input-group">
              <input type="text" class="form-control" id="direct-search-input" placeholder="" aria-label="..." autocomplete="off">
              <div class="input-group-btn">

                <button id="direct-search-year" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" value="UNDEFINED" aria-haspopup="true" aria-expanded="false">
                  <span id="dropdown-label">YEAR</span>&nbsp;<span class="caret"></span>
                </button>
                <button id="direct-search-go" class="btn btn-primary" id="btn-search" type="submit" data-toggle="modal" data-target="#searchModal"><span class="glyphicon glyphicon-search"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="text-center"><a>2017</a></li>
                  <li class="text-center"><a>2016</a></li>
                  <li class="text-center"><a>2015</a></li>
                </ul>
              </div>
            </div>
          </div>
        </form>

        <p class="text-muted text-center small">Web-based, searchbable, and extensible Revit API documentation.<br/>
            <!-- <p class="text-muted small">This website was created to improve access to the API documentation</br> by providing a web-based, searchable interface.</p> -->
            For more information about the API visit the<a href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975">
            Autodesk Developer Network</a>.</p>
    </div>  <!-- SEARCH DIV -->


    </div> <!-- COLUMN -->

  </div>  <!-- ROW -->
  <h4 class="text-center"><a href="#contribute" id="toggle-contribute">Contribute</a></h4>
  <!-- <p class="text-muted small text-center">Help improve Revit API docs</p> -->
  <div class="row">
    <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9 col-centered text-center" id="contribute">
      <hr />

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="margin-top visible-xs"></div>
          <a href="https://disqus.com/home/forums/revit-api-docs/">
            <img alt="Disqus Logo" src="{{ url_for('static', filename='img/social/social_disqus.svg')}}"/>
          </a>
          <h5>Disqus</h5>
          <p class="small">Help extend documentation<br/>
            with your solutions and relevant links<br/>
            using the built in commenting platform.</p>
        <!--<p class="small">You can <strike>keep track of the activity</strike> see all the comments I have posted on the <a href="https://disqus.com/home/forums/revit-api-docs/">Disqus community</a></p>-->
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="margin-top visible-xs"></div>
        <a href="https://github.com/gtalarico/revitapidocs/issues">
          <img alt="Github Logo" src="{{ url_for('static', filename='img/social/social_github.svg')}}"/>
        </a>
        <h5>Github</h5>
        <p class="small">Suggest ideas and report issues.</p>
        <!-- <a class="github-button" href="https://github.com/gtalarico/revitapidocs/issues" aria-label="Issue gtalarico/revitapidocs on GitHub">Issues</a> -->
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="margin-top visible-xs"></div>
        <a target="_blank" href="http://twitter.com/intent/tweet?text=Check out&url=http://RevitAPIdocs.com&hashtags=revitapi&">
          <img alt="Twitter Logo" src="{{ url_for('static', filename='img/social/social_twitter.svg')}}"/>
        </a>
        <h5>Twitter</h5>
        <p class="small"><a target="_blank" href="http://twitter.com/intent/tweet?text=Check out&url=http://RevitAPIdocs.com&hashtags=revitapi&">Share</a> or <a href="http://twitter.com/intent/tweet?text=%20%40gtalarico"> hello</a>.</p>
        <!-- <a href="http://twitter.com/intent/tweet?text=Check out &url=http://www.RevitAPIdocs.com&hashtags=revitapi"><img src="{{ url_for('static', filename="img/tweet-bw.png") }}" alt="Tweet" /></a> -->
        <!-- <a href="http://twitter.com/intent/tweet?text=%20%40gtalarico"><img src="{{ url_for('static', filename="img/tweet_at_gtalarico-bw.png") }}" alt="Tweet" /></a> -->
        <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Share</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        <!-- <a href="https://twitter.com/intent/tweet?screen_name=gtalarico" class="twitter-mention-button" data-show-count="false">Tweet to @gtalarico</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <h4 class="margin-top text-center"><a href="#other-resources" id="toggle-other-resources">Other Resources</a></h4>
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9 col-centered text-center" id="other-resources">
          <hr/>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>Autodesk</h5>
            <ul class="list-unstyled">
              <li><a class="small" href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&amp;id=2484975">Autodesk Developer Network</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2017/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2017: Developer's Guide</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2016/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2016: Developer's Guide</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2015/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2015: Developer's Guide</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2014/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2014: Developer's Guide</a></li>
              <li><a class="small" href="http://dynamoprimer.com/09_Custom-Nodes/9-4_Python.html">Dynamo Primer - Python</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>Blogs</h5>
            <ul class="list-unstyled">
              <li><a class="small" href="http://thebuildingcoder.typepad.com/">Building Coder Blog</a></li>
              <li><a class="small" href="https://boostyourbim.wordpress.com/">BoostYourBim</a></li>
              <li><a class="small" href="http://spiderinnet.typepad.com/">SpiderInNet</a></li>
              <li><a class="small" href="http://archi-lab.net/">Archi-lab.net</a></li>
              <li><a class="small" href="http://dp-stuff.org/">dp-stuff.org</a></li>
              <li><a class="small" href="http://wiki.theprovingground.org/revit-api">Nathan's Revit API Notebook</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>Forums</h5>
            <ul class="list-unstyled">
              <li><a class="small" href="http://forums.autodesk.com/t5/revit-api/bd-p/160">Revit API Forum</a></li>
              <li><a class="small" href="https://forum.dynamobim.com/">Dynamo Forum</a></li>
              <li><a class="small" href="http://stackoverflow.com/questions/tagged/revit-api/">Stack Overflow: revit-api</a></li>
            </ul>
          </div>

      </div> <!-- END CONTRIBUTE DIV -->
  </div>  <!-- END ROW -->

  <!-- ADSENSE CODE -->
  <div class="row">
      <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9 col-centered">
          <hr>
          <div id="adsense-index">
              <p class="small text-muted text-center">Advertisement</p>
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- RevitAPIDocs-Index-Responsive -->
              <ins class="adsbygoogle"
                   style="display:block;"
                   data-ad-client="ca-pub-2370986191740757"
                   data-ad-slot="2003181829"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
          </div>
      </div>

  </div>
  <!-- ADSENSE CODE -->

</div>  <!-- END CONTENT FULL WIDTH -->

    {# {% include 'disqus.html' %} #}


  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  {% endblock %}

  {% block script %}
  <script>



  $(document).ready(function(e){

    // Set Input
    $('#direct-search-input').delay(1500).fadeIn(function() {
      $(this).focus();
    });

    // Typying Animation
    // Conditional Statement makes it so animation only runs the first time
    if (localStorage && !localStorage.getItem('revitapidocs_year')){
        $(function(){
          $("#direct-search-input").typed({
            strings: ["Wall Class", "Pushbutton", "Global Parameter",
            "Idling Event", "Ribbon Item", "CreateBound", "ViewSchedule",
            "ViewType", "Revit.UI", "ActiveDocument", "DocumentClass",
            "BuiltinParameter", "Transaction Mode", "Element",
            "ElementId"],
            typeSpeed: 50,
            startDelay: 2500,
          });
        });
    }
    else {
        $('#direct-search-input').attr({'Placeholder':'Search Term'})
    }

    // Clear Animation
    $('#direct-search-input').one('click', function(){
      $('#direct-search-input').typed('stops')
      $('#direct-search-input').val('')
      $('#direct-search-input').attr({'Placeholder':'Search Term'})
    })

    $('#direct-search-input').on('click', function(){
      $("#direct-search").find('.form-group').removeClass('has-error')
      $("#direct-search").find('.control-label').html("&nbsp;")
    })

    // Get Stored year
    if(localStorage && localStorage.getItem('revitapidocs_year')){
      var year = localStorage.getItem('revitapidocs_year');
      $('#direct-search-year').attr('value', year)
      $('#dropdown-label').text(year)
    };

    // Click Dropdown
    $('#direct-search li').on('mousedown', function(){
      var year = $(this).text()
      $('#dropdown-label').text(year)
      $('#direct-search-year').attr('value', year)
      $("#direct-search-year").removeClass('btn-danger')
      $("#direct-search").find('.form-group').removeClass('has-error')
      $("#direct-search").find('.control-label').html("&nbsp;")

      if (localStorage) {
        localStorage.setItem('revitapidocs_year', year);
      }
    })

    // AUTOCOMPLETE
    $.getScript("//cnstrc.com/js/ac.js", function() {
      $('#direct-search-input').on('click', function() {
          $('#direct-search-input').constructorAutocomplete({
            key: '{{config.CONSTRUCTOR_IO_AUTOCOMPLETE_KEY}}',
            boostRecentSearches : true,
            maxResults : 6,
            });
      });
    });

    function search(query, year){
      var searchUrl = '/' + year + '/?query=' + query + '#searchModal'
      window.location.href = searchUrl;
    }

    // $('#direct-search-go').on('click', function(){})
    $("#direct-search").submit(function(e) {
      e.preventDefault() // Keeps page from submitting and reloading
      var year = $('#direct-search-year').attr('value')
      var query = $('#direct-search-input').val()
      console.log(year)
      if (year === 'UNDEFINED'){
        $("#direct-search").find('.form-group').addClass('has-error')
        $("#direct-search").find('.control-label').text('Select a year')
        $("#direct-search-year").addClass('btn-danger')
      }
      else if (query.length<2) {
        $("#direct-search").find('.form-group').addClass('has-error')
        $("#direct-search").find('.control-label').text('Search term is too short')
      }
      else {
        search(query, year)
      }
    });

    $('#toggle-contribute').on('click', function(){
      $('#contribute').slideToggle()
    })
    $('#toggle-other-resources').on('click', function(){
      $('#other-resources').slideToggle()
    })

  });

  </script>
  {% endblock %}
