{% extends "_base.html" %}

{% block header %}
<!-- START INDEX HEADER BLOCK -->
<title>Revit API Docs</title>
<!-- END INDEX HEADER BLOCK -->
{% endblock %}


{% block content %}
<!-- START INDEX CONTENT BLOCK -->
<div id="content-full-width">

  <div class="row">
  </br>
  <div class="col-xs-11 col-sm-7 col-md-6 col-lg-5 col-centered">

    <!-- SEARCH DIV -->
    <div id="direct-search">
        <img class="center-block" id="index-logo" alt="Revit API Docs Logo" src="{{ url_for('static', filename="img/logos/logo-main.svg") }}"/>
        <form>
          <div class="form-group">
            <label class="control-label text-danger">&nbsp;</label>
            <div class="input-group">
              <input type="text" class="form-control" id="search-box" placeholder="" aria-label="..." autocomplete="off">
              <div class="input-group-btn">

                <button id="direct-search-year" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" value="2017.1" aria-haspopup="true" aria-expanded="false">
                  <span id="dropdown-label">2017.1</span>&nbsp;<span class="caret"></span>
                </button>
                <button id="direct-search-go" class="btn btn-primary" id="btn-search" type="submit" data-toggle="modal" data-target="#searchModal"><span class="glyphicon glyphicon-search"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="text-center"><a>2017.1</a></li>
                  <li class="text-center"><a>2017</a></li>
                  <li class="text-center"><a>2016</a></li>
                  <li class="text-center"><a>2015</a></li>
                </ul>
              </div>
            </div>
          </div>
        </form>

        <p class="text-muted text-center small">Web-based, searchbable, and extensible Revit API documentation.<br/>
            For more information about the API visit the<a href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&id=2484975">
            Autodesk Developer Network</a>.</p>
    </div>
    <!-- SEARCH DIV -->


    </div> <!-- COLUMN -->

  </div>  <!-- ROW -->
  <h4 class="text-center"><a href="#contribute" id="toggle-contribute">Contribute</a></h4>
  <!-- <p class="text-muted small text-center">Help improve Revit API docs</p> -->

  <!-- ROW -->
  <div class="row">
    <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9 col-centered text-center" id="contribute">
      <hr />

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="margin-top visible-xs"></div>
          <a href="https://disqus.com/home/forums/revit-api-docs/">
            <img alt="Disqus Logo" src="{{ url_for('static', filename='img/social/social_disqus.svg')}}"/>
          </a>
          <h5>Disqus</h5>
          <p class="small">Help extend documentation<br/>
            with your solutions and relevant links<br/>
            using the built in commenting platform.</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="margin-top visible-xs"></div>
          <a href="https://github.com/gtalarico/revitapidocs/issues">
            <img alt="Github Logo" src="{{ url_for('static', filename='img/social/social_github.svg')}}"/>
          </a>
          <h5>Github</h5>
          <p class="small">Suggest ideas and report issues.</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="margin-top visible-xs"></div>
        <a target="_blank" href="http://twitter.com/intent/tweet?text=Check out&url=http://RevitAPIdocs.com&hashtags=revitapi&">
          <img alt="Twitter Logo" src="{{ url_for('static', filename='img/social/social_twitter.svg')}}"/>
        </a>
        <h5>Twitter</h5>
        <p class="small"><a target="_blank" href="http://twitter.com/intent/tweet?text=Check out&url=http://RevitAPIdocs.com&hashtags=revitapi&">Share</a> or <a href="http://twitter.com/intent/tweet?text=%20%40gtalarico"> hello</a>.</p>
      </div>

    </div>
  </div>
  <!-- ROW -->

  <br/>
  <br/>
  <h4 class="margin-top text-center"><a href="#other-resources" id="toggle-other-resources">Other Resources</a></h4>
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9 col-centered text-center" id="other-resources">
          <hr/>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>Autodesk</h5>
            <ul class="list-unstyled">
              <li><a class="small" href="http://usa.autodesk.com/adsk/servlet/index?siteID=123112&amp;id=2484975">Autodesk Developer Network</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2017/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2017: Developer's Guide</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2016/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2016: Developer's Guide</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2015/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2015: Developer's Guide</a></li>
              <li><a class="small" href="http://help.autodesk.com/view/RVT/2014/ENU/?guid=GUID-F0A122E0-E556-4D0D-9D0F-7E72A9315A42">2014: Developer's Guide</a></li>
              <li><a class="small" href="http://dynamoprimer.com/09_Custom-Nodes/9-4_Python.html">Dynamo Primer - Python</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>Blogs</h5>
            <ul class="list-unstyled">
              <li><a class="small" href="http://thebuildingcoder.typepad.com/">Building Coder Blog</a></li>
              <li><a class="small" href="https://boostyourbim.wordpress.com/">BoostYourBim</a></li>
              <li><a class="small" href="http://spiderinnet.typepad.com/">SpiderInNet</a></li>
              <li><a class="small" href="http://archi-lab.net/">Archi-lab.net</a></li>
              <li><a class="small" href="http://dp-stuff.org/">dp-stuff.org</a></li>
              <li><a class="small" href="http://wiki.theprovingground.org/revit-api">Nathan's Revit API Notebook</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>Forums</h5>
            <ul class="list-unstyled">
              <li><a class="small" href="http://forums.autodesk.com/t5/revit-api/bd-p/160">Revit API Forum</a></li>
              <li><a class="small" href="https://forum.dynamobim.com/">Dynamo Forum</a></li>
              <li><a class="small" href="http://stackoverflow.com/questions/tagged/revit-api/">Stack Overflow: revit-api</a></li>
            </ul>
          </div>

      </div> <!-- END CONTRIBUTE DIV -->
  </div>  <!-- END ROW -->

  <!-- ADSENSE CODE -->
  {#
  <div class="row">
      <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9 col-centered">
          <hr>
          <div id="adsense-index">
              <p class="small text-muted text-center">Advertisement</p>
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- RevitAPIDocs-Index-Responsive -->
              <ins class="adsbygoogle"
                   style="display:block;"
                   data-ad-client="ca-pub-2370986191740757"
                   data-ad-slot="2003181829"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
          </div>
      </div>

  </div>
  #}
  <!-- ADSENSE CODE -->

</div>
<!-- START INDEX CONTENT BLOCK -->
{% endblock %}

{% block script %}
<script>

var $searchBoxInput = $('#search-box')
var CONSTRUCTOR_KEY = '{{config.CONSTRUCTOR_IO_AUTOCOMPLETE_KEY}}'
ajaxHelper.createConstructor($searchBoxInput, CONSTRUCTOR_KEY, 5)

</script>
{% endblock %}
