{% extends "base.html" %}

{% block header %}
<title>Revit API Docs</title>
{% endblock %}

{% block content %}
<div id="main-full">
    <h4>{{ year }} | Resource Not Available for the Active API Year</h4>
    <hr />
    <div class="well">
      <p><span class="text-muted">Title</span></br>{{ schema.title }}</p>
      <br/>
      <p><span class="text-muted">Guid</span></br>{{ schema.href }}</p>
      <br/>
      {% if schema.description %}
      <p><span class="text-muted">Description</span></br>{{ schema.description }}</p>
      <br/>
      {% endif %}
      <p><span class="text-muted">Resource Only Available for</span></p>
      {% for year in available_in %}
      <a class="btn btn-primary" href="/{{year}}/{{active_href}}">{{year}}</a>
      {% endfor %}
      <br/>
    </div>

      <br/>
      <a class="btn btn-default" href="/{{year}}/">CONTINUE TO {{ year }}</a>
      <!-- <h4><a href="/{{year}}/{{active_href}}">Continue to {{ year }} API</a></h4> -->

    {# include 'disqus.html' #}

</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% endblock %}
