{% extends "base.html" %}

{% block header %}
<title>Revit API Docs</title>
{% endblock %}

{% block content %}
<div id="main-full">
    <h4>Resource Not Available for the Active API Year</h4>
    <hr />
    <br/>
    <p><span class="text-muted">Title</span></br>{{ schema.title }}</p>
    <br/>
    <p><span class="text-muted">Active Year</span></br>{{ year }}</p>
    <br/>
    <p><span class="text-muted">GUID</span></br>{{ schema.title }}</p>
    <br/>
    <p><span class="text-muted">Description</span></br>{{ schema.description }}</p>
    <br/>
    <br/>
    <h5>The resource is available on these APIs</h5>
    <br/>
    {% for year in available_in %}
    <a class="btn btn-primary" href="/{{year}}/{{active_href}}">{{year}}</a>
    {% endfor %}

    {# include 'disqus.html' #}

</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% endblock %}
