{% extends "base.html" %}

{% block header %}
<title>Revit API Docs</title>
{% endblock %}

{% block content %}
<div id="main-full">
    <h4>This Resource Not Available for the Active API Year<span class="text-muted small"> {{year}}</span></h4>
    <hr />
    <br/>
    <h5>The selected resource is only available on these APIs</h5>
    <br/>
    {% for year in available_in %}
    <a class="btn btn-primary" href="/{{year}}/{{active_href}}">{{year}}</a>
    {% endfor %}

    {% include 'disqus.html' %}

</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% endblock %}
